name:  CI/CD pipelie to deploy to tomcat
on:
  push:
    branches: master
jobs:
   build-deploy:
     runs-on: ubuntu-latest
     steps:
       - name: checkout code
         uses: actions/checkout@v3
       - name: setup-jdk 
         uses: actions/setup-java@v3
         with:
          distribution: 'temurin'
          java-version: '17'   # Updated Java version
       - name: maven validate
         run: mvn validate
       - name: maven compile
         run: mvn compile
       - name: maven test
         run: mvn test
       - name: maven package
         run: mvn package

              # deploy to tomcat
       
       - name: 7. Deploy to Tomcat with curl
         run: |
           # Use curl to upload the WAR file. This is more reliable than the old Maven plugin.
           # We find the WAR file in the target/ directory
           WAR_FILE=$(find target -name "*.war" | head -n 1)
        
           echo "Deploying $WAR_FILE to Tomcat..."

           # The TOMCAT_URL secret is 'http://<ip>:8080/manager/text'
           # This command uploads the file to the deploy endpoint.
           curl -v -u "${{ secrets.TOMCAT_USERNAME }}:${{ secrets.TOMCAT_PASSWORD }}" \
             -T "$WAR_FILE" \
             "${{ secrets.TOMCAT_URL }}/deploy?path=/train-ticket&update=true"


             
